/* ===================== My fonts ====================== */

/* Abril Fatface - Designer: TypeTogether */
/* Used under Open Font License */ 
/* https://fonts.google.com/specimen/Abril+Fatface?selection.family=Abril+Fatface */
@font-face {
	font-family: TitleFont;
	src: url("fonts/abril-fatface-regular.ttf");
}

/* Charlevoix - Designer: Mathieu Desjardins */
/* Free for personal use*/
/* https://www.behance.net/MathieuDesjardins */
@font-face {
	font-family: BodyFont;
	src: url("fonts/charlevoix-pro-light.otf");
}

/* ===================== Base styles ====================== */

html, body {
	font-family: BodyFont;
	letter-spacing: 2px;
}

h1 {
	font-family: TitleFont;
	font-size: 600%;
	letter-spacing: 5px;
	word-spacing: 30px;
}

p {
	line-height: 200%;
}

h2 {
	padding-top: 20px;
}

/* ===================== Container/content ====================== */

.container {
	text-align: center;
	margin: 0 auto;
	width: 90%;
	max-width: 960px;
}

.content {
	display: inline-block;
	text-align: left;
	overflow: auto;
	max-width: 600px;
}